<!DOCTYPE html>
<html>
  <title>Aleppo Wedding Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../w3/w3.css">
  <link rel='stylesheet' href='../w3/w3-theme-brown.css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg {background-image: url("https://cnt-00.content-na.drive.amazonaws.com/cdproxy/templink/8imW7F8t-v4Myzg2YSHrfUwkG2ssB270v2jXsDscpg8pX92IB?viewBox=1148,765")}
.bgimg2 {background-image: url("https://cnt-00.content-na.drive.amazonaws.com/cdproxy/templink/y61CtJMRwLUxkb_0Dv8FG7In3wL4Vx1L58gBwXYyyH4pX92IB?viewBox=1148,765")}
</style>
<body>

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo w3-padding-med">Jane &amp; John</h1>
    <h2>Are getting married</h2>
    <h2><b>17.07.2017</b></h2>
  </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <ul class="w3-navbar w3-white w3-center w3-padding-8 w3-opacity-min w3-hover-opacity-off">
    <li style="width:25%"><a href="#home" class="w3-margin-left w3-round">Home</a></li>
    <li style="width:25%"><a href="#us">Jane &amp; John</a></li>
    <li style="width:25%"><a href="#wedding" class="w3-round">Wedding</a></li>
    <li style="width:25%"><a href="#rsvp" class="w3-margin-right w3-round w3-hover-black">RSVP</a></li>
  </ul>
</div>

<!-- About / Jane And John -->
<div class="w3-container w3-padding-64 w3-theme-l1" id="us">
  <div class="w3-content">
    <h1 class="w3-center"><b>Jane &amp; John</b></h1>
    <img class="w3-round w3-grayscale-min" src="https://cnt-01.content-na.drive.amazonaws.com/cdproxy/templink/lBbHWTESBKZfRqv9J_5wbWdLvk7Kx5rWB3voBOO1xxQpX92IB?viewBox=1148,765" style="width:100%;margin:32px 0">
    <p><i>You all know us. And we all know you. We are getting married lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris ni ut aliquip ex ea commodo consequat.</i>
    </p><br>
    <p class="w3-center"><a href="#wedding" class="w3-btn w3-round w3-padding-large w3-large">Wedding Details</a></p>
  </div>
</div>

<!-- Background photo -->
<div class="w3-display-container bgimg2">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">You Are Invited</h1><br>
    <h2>Of course..</h2>
  </div>
</div>

<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-theme-l1" id="wedding">
  <div class="w3-content">
    <h1 class='w3-center'><b>THE WEDDING</b></h1>
    <img class="w3-round-large w3-grayscale-min" src="http://www.hotelabq.com/sites/hotelabq.com/files/website/Hero/Hotel-Albuquerque-Old-Town-Weddings-Venues.jpg" style="width:100%;margin:64px 0">
    <div class="w3-row">
      <div class="w3-half w3-center">
        <h2>When</h2>
        <dfn class='w3-text-gray'>- 17.07.2017 -</dfn>
        <p>Wedding Ceremony - 2:00pm<br>
        Reception &amp; Dinner - 5:00pm</p>
      </div>
      <div class="w3-half w3-center">
        <h2>Where</h2>
        <dfn class='w3-text-gray'>- Venue Name -</dfn>
        <p>1234 Address Ln.<br>
        City Name, ST 54321</p>
      </div>
    </div>
  </div>
</div>

<!-- RSVP section -->
<div class="w3-container w3-padding-64 w3-theme-light w3-center w3-wide" id="rsvp">
  <h1>HOPE YOU CAN MAKE IT!</h1>
  <p class="w3-large">Kindly Respond By January, 2017</p>
  <p class="w3-xlarge">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-btn w3-round w3-theme-action w3-opacity w3-hover-opacity-off" style="padding:8px 60px">RSVP</button>
  </p>
</div>

<!-- RSVP modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-8 w3-animate-zoom w3-padding-jumbo" style="max-width:600px">
    <div class="w3-container w3-white w3-center">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn w3-hover-text-grey w3-margin">x</span>
      <h1 class="w3-wide">CAN YOU COME?</h1>
      <p>We really hope you can make it.</p>
      <form>
        <input class="w3-input w3-border" type="text" placeholder="Name(s)" name="name">
      </form>
      <p><i>Sincerely, John &amp; Jane</i></p>
      <div class="w3-row">
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-btn-block w3-green">Going</button>
        </div>
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-btn-block w3-red">Can't come</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="http://www.costonmission.com" title="ALEPPO DEVELOPERS" target="_blank" class="w3-hover-text-pine">ALEPPO DEVELOPERS</a></p>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px"> </div>

</body>
</html>
